.active {
	color: #3EB54D;
	font-weight: bold;
}
.inactive {
	color: #EB3B2F;
	font-weight: bold;
}
.message-error {
	color: #EB3B2F;
	font-size: 11px;
	padding: 2px;
	display: none;
}
.loader {
	display: none;
}

table.user-table td.username {
	font-size: 11px;
}
table.user-table td.username a.name {
	font-size: 18px;
	font-weight: bold;
}